<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--&lt;!&ndash; 事务管理器配置 &ndash;&gt;
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		&lt;!&ndash; 数据源 &ndash;&gt;
		<property name="dataSource" ref="data"/>
	</bean>
	&lt;!&ndash; 开启事务的注解配置，使用@Transactional声明 &ndash;&gt;
	<tx:annotation-driven transaction-manager="transactionManager"  proxy-target-class="true"/>-->

</beans>
